body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.image-container{
    display:flex;
}
.slider-container {
    position:relative;
    width: 700px;
    height: 500px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.icon{
    position:absolute;
    color:#fff;
    top:50%;
    transform:translateY(-50%);
    cursor:pointer;
    font-size:25px;
}
.next{
    right:10px;
}
.prev{
    left:10px;
}
.icon:hover{
    color:lightgrey;
}